body {
	font: 14px sans-serif;
	}

.colors {
	float: left;
	width: 66%;
	height: 250px;
	border-radius: 4px;
	overflow: hidden;
	}
	.jqselection-selectable {
		float: left;
		width: 20%;
		height: 25%;
		}
.list {
	float: right;
	width: 33%;
	font-family: monospace,courier;
	}
	.list ol {
		margin: 0 0 0 25px;
		}
		.list span {
			border-left: 1em solid;
			padding-left: .5em;
			font-weight: bold;
			color: #000;
			}
