#demo .colors {
	float: left;
	width: 66%;
	height: 250px;
	border-radius: 4px;
	overflow: hidden;
	}
	#demo .jqselection-selectable {
		float: left;
		width: 20%;
		height: 25%;
		}
#demo .list {
	float: right;
	width: 33%;
	font-family: monospace,courier;
	}
	#demo .list ol {
		margin: 0 0 0 25px;
		}
		#demo .list span {
			border-left: 1em solid;
			padding-left: .5em;
			font-weight: bold;
			color: #000;
			}
	#demo p {
		clear: both;
		padding-top: 1em;
		}
